# Wordpress: ignore el núcleo, la configuración, los ejemplos, las cargas y los registros.

# Core
#
# Nota: si desea organizar/confirmar archivos principales de WP
# puede eliminar toda esta sección/hasta Configuración.
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/license.txt
/readme.html
# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# backup bases de datos
*.sql

# All plugins
#
# Nota: si desea incluir complementos en la lista blanca,
# descomente la siguiente línea
#/wp-content/plugins

# All themes
#
# Nota: si desea incluir temas en la lista blanca,
# descomente la siguiente línea
#/wp-content/themes
